<!-- app/views/comments/show.html.erb -->
<div class="bg-white p-8 rounded-lg shadow-md max-w-4xl mx-auto">
  <h1 class="text-3xl font-bold mb-6 text-center"><%= @movie.title %></h1>
  <p class="text-xl font-semibold mb-4"><strong><%= t('comments.show.director') %>:</strong> <%= @movie.director %></p>
  <p class="text-xl font-semibold mb-4"><strong><%= t('comments.show.rating') %>:</strong> <%= @average_rating %></p>
  <p class="text-xl mb-4"><strong><%= t('comments.show.synopsis') %>:</strong> <%= @movie.synopsis %></p>

  <hr class="my-6">
  <p>Inside comment show<p>
  <h2 class="text-2xl font-bold mb-4"><%= t('comments.show.review') %></h2>
  <p class="text-lg"><strong><%= t('comments.show.user') %>:</strong> <%= @review.user.first_name %> <%= @review.user.last_name %></p>
  <p class="text-lg mb-4"><strong><%= t('comments.show.review_text') %>:</strong> <%= @review.review %></p>

  <hr class="my-6">

  <h2 class="text-2xl font-bold mb-4"><%= t('comments.show.comments') %></h2>
  <% if @comments.any? %>
    <table class="min-w-full bg-white">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-2 px-4"><%= t('comments.show.user_name') %></th>
          <th class="py-2 px-4"><%= t('comments.show.comment') %></th>
          <th class="py-2 px-4"><%= t('comments.show.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr class="bg-gray-100">
            <td class="border px-4 py-2">
              <%= link_to "#{comment.user.first_name} #{comment.user.last_name}", user_path(comment.user), class: 'text-blue-500 hover:text-blue-700' %>
            </td>
            <td class="border px-4 py-2"><%= comment.comment %></td>
            <td class="border px-4 py-2">
              <%= link_to t('comments.show.delete'), '#', class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded', data: { confirm: t('comments.show.confirm_delete') } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-center"><%= t('comments.show.no_comments') %></p>
  <% end %>

  <div class="bg-white p-4 rounded-lg shadow-md mt-6">
    <h2 class="text-xl font-bold mb-4"><%= t('comments.show.add_comment') %></h2>
    <%= form_with model: [ @review, Comment.new ], local: true do |form| %>
      <div class="mb-4">
        <%= form.label :comment, t('comments.show.comment_label'), class: "block text-gray-700" %>
        <%= form.text_area :comment, rows: 4, class: "mt-1 p-2 w-full border rounded-lg focus:outline-none focus:shadow-outline", required: true %>
      </div>
      <div>
        <%= form.submit t('comments.show.submit_comment'), class: 'py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300' %>
      </div>
    <% end %>
  </div>
</div>
