<div class="bg-white p-8 rounded-lg shadow-md max-w-4xl mx-auto">
  <h1 class="text-3xl font-bold mb-6 text-center"><%= @movie.title %></h1>
  <p class="text-xl font-semibold mb-4"><strong>Director:</strong> <%= @movie.director %></p>
  <p class="text-xl font-semibold mb-4"><strong>Rating:</strong> <%= @average_rating %></p>
  <p class="text-xl mb-4"><strong>Synopsis:</strong> <%= @movie.synopsis %></p>

  <!-- Display Genres as buttons -->
  <div class="flex flex-wrap gap-2 mb-4">
    <% @movie.genres.each do |genre| %>
      <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-lg">
        <%= genre.genre_type %>
      </button> 
    <% end %>
  </div> 

  <br/>

  <% if current_admin!=nil %>
    <div class="flex justify-between mt-6">
      <%= link_to 'Edit Movie', edit_movie_path(@movie), class: 'py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300' %>
        <br/> 
      <%= link_to 'Delete Movie', delete_movie_path(@movie), class: 'py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300' %>
    </div>
  <% end %>

  <br/>

  <div class="flex justify-between">
    <%= link_to 'Back To Movie List', movies_path, class: 'py-2 px-4 bg-gray-300 text-gray-800 font-semibold rounded-lg shadow-md hover:bg-gray-400 focus:outline-none focus:ring focus:ring-gray-300' %>
  </div>

  <br/><br/>

  <hr class="my-6">
  <h2 class="text-2xl font-bold mb-4 text-center">User Reviews</h2>
  <div class="bg-gray-100 p-4 rounded-lg">
    <% if @reviews.any? %>
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="py-2 px-4">User Name</th>
            <th class="py-2 px-4">Review</th>
            <th class="py-2 px-4">Rating</th>
            <th class="py-2 px-4">Full Review</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">
                <%= link_to "#{review.user.first_name} #{review.user.last_name}", user_path(review.user), class: 'text-blue-500 hover:text-blue-700' %>
              </td>
              <td class="border px-4 py-2"><%= truncate(review.review, length: 100) %></td>
              <td class="border px-4 py-2"><%= review.rating %></td>
              <td class="border px-4 py-2">
                <%= link_to 'Review', review_path(review), class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center">No reviews available.</p>
    <% end %>
  </div>

  <div class="bg-white p-4 rounded-lg shadow-md mt-6">
    <h2 class="text-xl font-bold mb-4">Add a Review</h2>
    <%= form_with model: [ @movie, Review.new ], local: true do |form| %>
      <div class="mb-4">
        <%= form.label :rating, class: "block text-gray-700" %>
        <%= form.number_field :rating, in: 1..10, class: "mt-1 p-2 w-full border rounded-lg focus:outline-none focus:shadow-outline", required: true %>
      </div>
      <div class="mb-4">
        <%= form.label :review, class: "block text-gray-700" %>
        <%= form.text_area :review, rows: 4, class: "mt-1 p-2 w-full border rounded-lg focus:outline-none focus:shadow-outline", required: true %>
      </div>
      <div>
        <%= form.submit 'Submit Review', class: 'py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300' %>
      </div>
    <% end %>
  </div>


</div>
