<!-- app/views/users/login.html.erb -->

<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center"><%= t('users.login.title') %></h2>

    <%= form_with url: attempt_login_users_path, method: :post, data: { turbo: false }, local: true, class: "space-y-6" do |form| %>
      <div>
        <%= form.label :email, t('users.login.email'), class: "block text-gray-700" %>
        <%= form.email_field :email, class: "mt-1 p-2 w-full border rounded-lg focus:outline-none focus:shadow-outline" %>
      </div>

      <div>
        <%= form.label :password, t('users.login.password'), class: "block text-gray-700" %>
        <%= form.password_field :password, class: "mt-1 p-2 w-full border rounded-lg focus:outline-none focus:shadow-outline" %>
      </div>

      <div>
        <%= form.submit t('users.login.submit'), class: "w-full py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300" %>
      </div>
      
      <div class="text-center">
        <%= link_to t('users.login.forgot_password'), new_password_reset_path, class: "text-blue-500 hover:underline" %>
      </div>
      
      <br/>

      <div>
        <%= link_to t('users.login.sign_up'), new_user_path, class: "w-full py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300" %>
      </div>
    <% end %>
  </div>
</div>
