<div class="bg-white p-8 rounded-lg shadow-md max-w-4xl mx-auto">
  <h1 class="text-3xl font-bold mb-6 text-center"><%= @user.full_name %></h1>
  <p class="text-xl font-semibold mb-4"><strong>Email:</strong> <%= @user.email %></p>
  <p class="text-xl font-semibold mb-4"><strong>Phone Number:</strong> <%= @user.phone_no %></p>

  <%if @current_user and @current_user.id!= @user.id %>
    <%if @current_user.followees.include?(@user)%>
      <%= button_to 'UnFollow', unfollow_follower_path(@user,origin_user: @user.id, origin_view: 'user'),method: :delete, class: 'py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600 focus:outline-none focus:ring focus:ring-green-300' %>
    <%else%>
      <%= button_to 'Follow', follow_follower_path(@user,origin_user: @user.id, origin_view: 'user'),method: :post, class: 'py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300' %>
    <%end%>
  <%elsif @current_user and @current_user.id== @user.id%>
    <%= link_to 'Edit Profile', edit_user_path(@user), class: 'py-2 px-4 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-600 focus:outline-none focus:ring focus:ring-red-300'%>
  <%end%>

  <div class="flex justify-between items-center my-6 space-x-6">
    <div class="text-center mx-4">
      <span class="block text-3xl font-bold"><%= @reviews.count %></span>
      <span class="text-xl">No of Reviews</span>
    </div>
    <div class="text-center mx-4">
      <span class="block text-3xl font-bold"><%= @followers_count %></span>
      <span class="text-xl"><%= link_to 'Followers', followerlist_follower_path(@user) %></span>
    </div>
    <div class="text-center mx-4">
      <span class="block text-3xl font-bold"><%= @followees_count %></span>
      <span class="text-xl"><%= link_to 'Following', followeelist_follower_path(@user) %></span>
    </div>
  </div>

  <hr class="my-6">
  <h2 class="text-2xl font-bold mb-4 text-center">User Reviews</h2>
  <div class="bg-gray-100 p-4 rounded-lg">
    <% if @reviews.any? %>
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="py-2 px-4">Movie Name</th>
            <th class="py-2 px-4">Review</th>
            <th class="py-2 px-4">Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
            <tr class="bg-gray-100">
              <td class="border px-4 py-2">
               <%= link_to "#{review.movie.title}", movie_path(review.movie), class: 'text-blue-500 hover:text-blue-700' %>
              </td>
              <td class="border px-4 py-2"><%= review.review %></td>
              <td class="border px-4 py-2"><%= review.rating %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="text-center">No reviews yet.</p>
    <% end %>
  </div>
</div>
