<h1 class="text-2xl font-bold mb-6">User List</h1>

<table class="min-w-full bg-white border">
  <thead>
    <tr>
      <th class="px-4 py-2 border">User ID</th>
      <th class="px-4 py-2 border">First Name</th>
      <th class="px-4 py-2 border">Last Name</th>
      <th class="px-4 py-2 border">Email</th>
      <th class="px-4 py-2 border">Phone Number</th>
      <th class="px-4 py-2 border">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="px-4 py-2 border"><%= user.id %></td>
        <td class="px-4 py-2 border"><%= user.first_name %></td>
        <td class="px-4 py-2 border"><%= user.last_name %></td>
        <td class="px-4 py-2 border"><%= user.email %></td>
        <td class="px-4 py-2 border"><%= user.phone_no %></td>
        <td class="px-4 py-2 border">
            <div class="flex justify-center space-x-2"> 
                    <%= link_to 'Show Details', show_user_details_admin_user_path(user), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
                    <%= link_to 'Delete', confirm_user_delete_admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
            </div>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
