<!DOCTYPE html>
<html>
  <head>
    <title>Application Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-100">
      <% flash.each do |key, value| %>
        <div class="flash <%= flash_class(key) %> p-4 rounded mb-4">
          <%= value %>
        </div>
      <% end %>
   

    <%= yield %>
  </body>
</html>
