<!-- app/views/layouts/user_dashboard.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title><%= t('layouts.user_dashboard.title') %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body class="bg-gray-100">

  <% if flash.any? %>
    <% flash.each do |key, value| %>
      <div class="flash <%= flash_class(key) %> p-4 rounded mb-4">
          <%= value %>
      </div>
    <% end %>
  <% end %>

  <div class="min-h-screen flex">
    <% if current_user %>
      <div class="bg-gray-800 text-white w-64 p-6">
        <h1 class="text-2xl font-bold mb-6"><%= t('layouts.user_dashboard.user_panel') %></h1>
        <ul class="space-y-4">
          <li><%= link_to t('layouts.user_dashboard.user_profile'), user_path(current_user), class: "block py-2 px-4 hover:bg-gray-700" %></li>
          <li><%= link_to t('layouts.user_dashboard.movie_list'), movies_path, class: "block py-2 px-4 hover:bg-gray-700" %></li>
          <li><%= button_to t('layouts.user_dashboard.log_out'), logout_users_path, method: :delete, data: { turbo: false }, class: "block py-2 px-4 hover:bg-gray-700" %></li>
        </ul>
      </div>
    <% end %>
    <div class="flex-1">
      <%= yield %>
    </div>
  </div>
</body>
</html>
